{% extends 'layout.html' %}

{% block title %}
Iniciar sesión
{% endblock %}

{% block css %}
	{% load static %}
	<link type="text/css" rel="stylesheet" href="{% static "login.css" %}">
	<link type="text/css" rel="stylesheet" href="{% static "form.css" %}">
{% endblock %}

{% block content %}
<div id="login_content">
<h2 id="add_login_title">¡Bienvenido de vuelta!</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'add_classroom_send' %}" method="post" id="form_add_classroom">
{% csrf_token %}
<div class="form_field">
	<span class="form_field_text">Usuario: </span><input type="text" name="name">
</div>
<div class="form_field">
	<span class="form_field_text">Contraseña: </span><input type="password" name="password">
</div>
<div id="form_login_send_button" class="form_button" onclick="form_add_classroom_send()">Iniciar sesión</div>
</form>
</div>
{% endblock %}